@model GlomilAssesment.Models.VM.MathVM

<div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <span class="txt1 p-b-11">
        Toplam
    </span>

    <p>@Html.DisplayFor(model => model.sonuc1)</p>
    <span class="txt1 p-b-11">
        Fark
    </span>
    <p>@Html.DisplayFor(model => model.sonuc2)</p>
    <span class="txt1 p-b-11">
        Çarpım
    </span>
    <p>@Html.DisplayFor(model => model.sonuc3)</p>
    <span class="txt1 p-b-11">
        Bölme
    </span>
    <p>@Html.DisplayFor(model => model.sonuc4)</p>

    @Html.HiddenFor(q => q.ID)

    <span class="focus-input300"></span>
    <a href="~/AddMath/AllDetail/">
        <button>
            Tümünü gör
        </button>
    </a>
</div>